.container{
    width: 300px;
    height: 500px;
    margin: 3rem;
}

.button-div{
    text-align: center;
    margin-top: 5rem;
}

.submit-button{
    margin-right: 3rem;
}

.cancel-button{
    margin-left: 3rem;
}