.containerDiv{
    height: 450px;
    width: 600px;
    padding-right: 8rem;
    padding-left: 8rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
}

.final-price{
    font-size: 2rem;
}

.final-price-div{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.base-price-div{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.base-price-div label{
    text-decoration: line-through;
}

.div-fail{
    margin-bottom: 4rem;
    margin-top: 4rem;
}