.container{
    padding-bottom: 50px;
}

.infoDiv{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userInfo{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userInfo h4{
    padding-block: 2px;
    margin-block: 2px;
    font-weight: 600;
}

.flight-info{
    display: flex;
    align-items: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.flight-info-content{
    text-align: center;
}

.loyaltyDiv{
    display: flex;
}

h4{
    margin-top: 0.2rem;
}

.back-button{
    margin-left: 2rem;
    margin-top: 2rem;
}

.passenger-info{
    width: 60%;
    border: 1px solid black;
    margin-top: 2rem;
    max-height: 300px;
    text-align: center;
    margin-bottom: 3rem;
}

.button-div{
    text-align: center;
    padding: 3rem;
}

.submit-button{
    margin-right: 3rem;
}

.cancel-button{
    margin-left: 3rem;
}

.form-card{
    width: 60%;
    margin-bottom: 1rem;
}

mat-form-field{
    width: 100%;
}

.card-type{
    width: 60%;
    border: 1px solid black;
    margin-top: 2rem;
    max-height: 300px;
    text-align: center;
    margin-bottom: 2rem;
}

mat-progress-bar{
    margin-top: 3rem;
}

.formContainer{
    margin: 0 auto;
    width: 800px;
    background-color: white;
    padding: 20px;
}

.formContainer h1{
    margin-left: 20px;
}

form{
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 450px;
    margin-block: 0;
}

mat-form-field{
    width: 200px;
    padding: 0;
    margin-block: 0;
    margin-inline: 5px;
}


.buttonDiv{
    margin: 0 auto;
    width: 150px;
    margin-bottom: 50px;
}



