.container{
    padding-bottom: 50px;
    padding-top: 0;
}

.infoDiv{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.userInfo{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.userInfo h4{
    padding-block: 2px;
    margin-block: 2px;
    font-weight: 600;
}

.loyaltyDiv{
    display: flex;
}

.logOut{
    margin-left: 20px;
}

.tableDiv{
    width: 1400px;
    margin: 0 auto;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    // cursor: pointer;
  }

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}
  
.demo-row-is-clicked {
    font-weight: bold;
}

.priceFrom{
    margin-left: 10px;
    width: 200px;
}

.destinationField{
    margin-right: 10px;
}

.ticketTypeDiv{
    margin-left: 10px;
}

.sortDiv{
    margin-top: 0;
    margin-bottom: 10px;
}

.sortDiv h4{
    margin: 10px 0;

}

.filterButton{
    margin-left: 10px;
    margin-bottom: 20px;
}

.filterDiv{
    align-items: center;
}